body {
    background: -webkit-linear-gradient(left, rgba(1,25,50,1) 0%, rgba(41,109,169,1) 50%, rgba(41,109,169,1) 51%, rgba(1,25,51,1) 100%);
}

.jumbotron {
    background-color: rgba(1, 25, 40, 0);
    color: aliceblue;
}

.container {
    color: #FFFFFF;
    text-align: center;
}

.answer {
    border-color: #FFFFFF;
    background-color: rgba(1, 25, 40, 0.3);
}

.question {
    border-color: #000000;
    background-color: rgba(1, 25, 40, 0.3);
}

.form-control , .input-group-addon{
    background-color: rgba(1, 25, 40, 0.3);
}

.input-group{
    bottom:20%;
}

.chatpage{
    text-align: center;
}

.demo-canvas {
    position:relative;
}
